n8n/workflows/SWF.GITHUB.REPO.ENSURE.json
{
    "name": "SWF.GITHUB.REPO.ENSURE",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{'https://api.github.com/repos/' + $json.owner + '/' + $json.repo}}",
                "authentication": "headerAuth",
                "headerAuth": {
                    "name": "Authorization",
                    "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
                },
                "options": {
                    "ignoreHttpStatusCode": true
                }
            },
            "name": "Check Repo",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{$json.statusCode}}",
                            "operation": "equal",
                            "value2": 404
                        }
                    ]
                }
            },
            "name": "If Not Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.github.com/user/repos",
                "authentication": "headerAuth",
                "headerAuth": {
                    "name": "Authorization",
                    "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"name\": $json.repo, \"private\": true, \"description\": $json.description || \"Managed by Cognagent\" } }}"
            },
            "name": "Create Repo",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                850,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const repo = $input.all()[0].json;\nreturn [{\n  repo_id: repo.id,\n  html_url: repo.html_url,\n  full_name: repo.full_name,\n  owner: repo.owner.login\n}];"
            },
            "name": "Format Output",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "Check Repo",
                        "type": "main"
                    }
                ]
            ]
        },
        "Check Repo": {
            "main": [
                [
                    {
                        "node": "If Not Exists",
                        "type": "main"
                    }
                ]
            ]
        },
        "If Not Exists": {
            "main": [
                [
                    {
                        "node": "Create Repo",
                        "type": "main"
                    }
                ],
                [
                    {
                        "node": "Format Output",
                        "type": "main"
                    }
                ]
            ]
        },
        "Create Repo": {
            "main": [
                [
                    {
                        "node": "Format Output",
                        "type": "main"
                    }
                ]
            ]
        }
    },
    "settings": {
        "errorWorkflow": "SWF.ERROR.CLASSIFY"
    }
}